/* Chat text */
.ember-chat .chat-messages .chat-line {
    font-size: 18px !important;
    color: lightgray;
}

/* Unbold names and make them red colored */
.ember-chat .chat-messages .chat-line .from, .ember-chat .chat-messages .chat-line .to {
    /*font-size: 18px;*/
    font-weight: normal;
    color: red !important;
}

/* @user_name mentions are light green */
.ember-chat .chat-line .mentioning, .ember-chat .chat-line .mentioned, .chat-container.dark .chat-line .mentioned, .ember-chat-container.dark .chat-line .mentioned {
    color: lightgreen;
    font-weight: normal;
    font-size: 14px;
}

/* Hides the last badge (still figuring out how to show mod icons only) */
.ember-chat .badges span:last-child .badge {
    display: none;
}

/* Hide all badges in front of names */
/* .badges .badge {
    height: 8px;
	min-width: 8px;
} */

/* Removes the bottom black bar used for whispers when logged in while using theater mode */
.app-main.theatre .player--authenticated {
    margin-bottom: 0;
}
.app-main.theatre .player-whispers-padding {
    margin-bottom: 0;
}
/* .app-main.theatre #player {
    
} */
.app-main.theatre .conversations-wrapper {
    height: 0;
    position: absolute;
    bottom: 0;
	width: 100%;
    z-index: 6;
    background-color: black;
}

/* Moves the whisper button slightly to the left so you can still access the right-most player controls */
.conversations-content .conversations-list-container {
    margin-right: 180px;
    z-index: 10;
    float: right;
}

/* Make the whisper button opaque */
.theme--dark .conversations-content .conversations-list-bottom-bar {
    background: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0.2);
}
