/* Remove Twitch, FFZ emotes */
img[data-provider^="twitch"],
img[data-tooltip-type*="emote"] {
    display: none !important;
}

/* Highlight a user in chat */
/* div[data-user*="INSERT tWITCH NAME"] span[class*="message"] {
    color: #b22eff !important;
} */

/* Chat usernames */
span[class^="chat-author__display-name"] {
    width: 1px !important;
    font-size: 12px;
    font-weight: bold;
    color: red !important;
}

/* Remove non-theater mode padding around video */
.tw-pd-x-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.tw-pd-t-2 {
    padding-top: 0px !important;
}

/* Chat text */
/*div[class^="chat-line__message"] span[class^="message"] {
    font-weight: bold !important;
}*/

/* @user_name mentions are light green */
strong[class^="chat-line__message-mention"],
span[class*="mention-fragment"] {
    color: lightgreen !important;
    font-weight: normal;
}

/* Hide "Offers in-game Drops" corner overlay in game Directory */
div[class^="drops-badge tw-absolute tw-right-0 tw-top-0"] {
	display: none !important;
}

/* Purify chat message for users typing with "/me" */
span[class="message has-color"] {
    color: lightgray !important;
}


/*  Mouseover overlay stream info  */
/* Title */
div[class^="player-streaminfo__title qa-stream-title"] {
    /*background-color: black;*/
    font-size: 16px;
    font-weight: bold;
    text-shadow:
     2px 2px 0 #000,
     -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000;
}
/* "playing <game> for <#> viewers" */
div[class^="player-streaminfo__viewers"] {
    /*background-color: black;*/
    font-size: 16px;
    font-weight: bold;
    text-shadow:
     2px 2px 0 #000,
     -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000;
}
/* Twitch username and game links */
.player a.player-text-link--no-color {
    color: #9b66ff;
    /*background-color: black !important;*/
    text-shadow:
     2px 2px 0 #000,
     -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000;
}


/* Remove black gradient overlay on mouseover */
div[class*="pl-controls-top js-controls-top"],
div[class*="pl-controls-bottom pl-flex qa-controls-bottom"] {
    background: none !important;
}
/* Remove black gradient overlay on pause (VOD confirmed) */
div[class*="player-overlay player-play-overlay js-paused-overlay"] {
    display: none !important;
}

/* Hide Upcoming Events panel (Overwatch game directory page) */
.col-xs-9 {
    width: 100%;
}
.tower .col-xs-3 {
    display: none;
}

/* Remove badges from live chat, ffz supporter badge */
span[data-badge*="subscriber"],
span[data-badge*="premium"], 
span[data-badge*="bits"], 
span[data-badge*="turbo"], 
span[data-badge*="glhf-pledge"], 
span[data-badge*="twitchcon"], 
span[data-badge*="firewatch"], 
span[data-badge*="H1Z1"], 
span[data-provider^="ffz"], 
span[data-badge*="sub-gifter"], 
span[data-badge*="kingdom-new-lands"], 
span[data-badge*="clip-champ"] {
    display: none !important;
}

/* Remove badges from chat and emotes in VODs */
/* Badges */
img[alt*="Subscriber"],
img[alt*="Gifter"],
img[alt*="Prime"],
img[alt^="Turbo"],
img[alt*="cheer"],
img[alt^="H1Z1"],
img[alt^="GLHF"],
img[alt*="TwitchCon"],
/* Channel specific emotes */
img[alt^="dizzy"], 
img[alt^="jnb"], 
img[alt^="kaotyk"], 
img[alt^="mjl"] {
    display: none !important;
}

/* Clip page dark mode (before title name is added */
body[class^="ce-body"] {
    background-color: #272822 !important;
}
textarea[class^="full-width form__input ct-text-input"] {
    background-color: #272822 !important;
}

/* (VOD+Live) Hide "Chat on Videos" fixed chat header */
div[class*="tw-align-items-center tw-flex tw-flex-shrink-0 tw-justify-content-center video-chat__header"],
div[class*="room-selector__header tw-align-items-center tw-border-b tw-border-l tw-border-r tw-c-background-alt-2 tw-flex tw-flex-shrink-0 tw-full-width tw-justify-content-between tw-pd-l-2 tw-pd-r-1"] {
    display: none !important;
}

/* Remove "Show me Games sorted by Popularity" filter bar */
div[class*="tw-border-b tw-border-l tw-border-r tw-border-t tw-c-background tw-flex tw-flex-row tw-mg-b-2 tw-pd-2"] {
    display: none !important;
}

/* Rerun indicator above video */
.tw-theme--dark .tw-c-background-accent-alt-2 {
    background-color: red !important;
    color: black !important;
    height: 1px !important;
}
.tw-c-text-overlay-alt, .tw-theme--dark .tw-c-text-overlay-alt, .tw-theme--light .tw-c-text-overlay-alt {
    color: #ebebeb !important;
}

/* Hide "Get Bits" in the site title bar */
/*div[class*="tw-align-self-center tw-flex-grow-0 tw-flex-nowrap tw-flex-shrink-0 tw-mg-x-1"] {
    display: none !important;
}*/
