Twitch
/* A slim version for use with FrankerFaceZ Chrome extension */

/* Chat text */
span[class^="message"] {
    color: lightgray;
}

/* Unbold names and make them red colored */
a[class^="chat-author__display-name"] {
    width: 1px !important;
/*     font-size: 12px; */
/*     font-weight: normal; */
    color: red !important;
}

/* @user_name mentions are light green */
strong[class^="chat-line__message-mention"] {
    color: lightgreen !important;
/*     font-size: 12px; */
    font-weight: normal;
}

/* Purify chat message for users typing with "/me" */
span[class="message has-color"] {
    color: lightgray !important;
}

/* Increase size of video player's buttons */
div[class^="player-buttons-left"], div[class*=" player-buttons-left"] {
    transform: scale(1.5);
    margin-left: 9%;
}
div[class^="player-buttons-right"], div[class*=" player-buttons-right"] {
    transform: scale(1.5);
    margin-right: 11%;
}

/*  Stream info title in theater mode  */
div[class^="player-streaminfo__title qa-stream-title"], div[class^="player-streaminfo__viewers"] {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: 16px;
    font-weight: bold;
}

/* Streamer's username and game text */
.player a.player-text-link--no-color {
    color: purple;
}

/* Transparent top overlay until mouseover */
#top-bar {
    opacity: 0.2;
}
#top-bar:hover {
    opacity: 1;
}

/* Move VOD seek bar up to compensate for enlarged player controls */
.player-seek {
    display: block;
    margin-bottom: 50px;
}

/* Remove black gradient overlay when video is paused (bottom) */
.player-controls-bottom {
    background: none !important;
    bottom: 0;
    padding: 0;
    padding-top: 4em;
    z-index: 3;
}

/* Remove black gradient overlay when video is paused (top) */
.player-controls-top {
    background: none !important;
    top: 0;
    padding: 1.5em;
    margin-bottom: 5.5em;
}

/* Hide Upcoming Events panel (Overwatch game directory page) */
.col-xs-9 {
    width: 100%;
}
.tower .col-xs-3 {
    display: none;
}

/* Theater - Chat toggle button overall redesign + hover */
button[class^="right-column__toggle-visibility block flex-grow-0 flex-shrink-0 absolute"] {
    display: block;
    background-color: red;
    width: 74px;
    height: 22px;
    margin-left: -26px;
    margin-top: 82px;
    opacity: 0.1;
    border: 2px solid white;
}
button[class^="right-column__toggle-visibility block flex-grow-0 flex-shrink-0 absolute"]:hover {
    display: block;
    background-color: red;
    width: 74px;
    height: 22px;
    margin-left: -26px;
    margin-top: 82px;
    opacity: 1;
    border: 2px solid white;
}

/* Remove badges from chat, ffz supporter badge */
span[data-badge^="subscriber"],
span[data-badge^="premium"], 
span[data-badge^="bits"], 
span[data-badge^="turbo"], 
span[data-badge^="glhf-pledge"], 
span[data-badge^="twitchcon2017"], 
span[data-provider^="ffz"] {
    display: none !important;
}

/* VOD: Remove badges from chat */
img[alt^="Subscriber"], 
img[alt^="3-Month Subscriber"], 
img[alt^="6-Month Subscriber"], 
img[alt^="Twitch Prime"], 
img[alt^="Turbo"], 
img[alt^="cheer"], 
img[alt^="dizzyDolphin"], 
img[alt^="dizzyHype"], 
img[alt^="dizzyH"], 
img[alt^="dizzyREEE"], 
img[alt^="dizzyGasm"], 
img[alt^="dizzySenpai"], 
img[alt^="dizzyCool"], 
img[alt^="dizzyLul"], 
img[alt^="dizzyShy"], 
img[alt^="dizzyWtf"], 
img[alt^="dizzyUp"], 
img[alt^="dizzyTen"], 
img[alt^="dizzyCry"], 
img[alt^="dizzyW"], 
img[alt^="dizzyTeehee"], 
img[alt^="H1Z1"], 
img[alt^="GLHF Pledge"] {
    display: none !important;
}

/* Remove all emotes */
/* img[data-provider^="twitch"] {
    display: none !important;
} */

/* Highlight a user in chat */
/* div[data-user*="INSERT tWITCH NAME"] span[class*="message"] {
    color: #b22eff !important;
} */

/* VOD: Unbold names and make them red colored */
span[class^="chat-author__display-name"] {
    width: 1px !important;
    font-size: 12px;
    font-weight: normal;
    color: red !important;
}

/* Fix streamer's name in chat */
.video-chat__message-author--creator {
    background-color: white !important;
}

/* Clip page dark mode (before title name is added */
body[class^="ce-body"] {
    background-color: #272822 !important;
}
textarea[class^="full-width form__input ct-text-input"] {
    background-color: #272822 !important;
}
