/* A slim version for use with FrankerFaceZ Chrome extension */

/* Chat text */
.ember-chat .chat-messages .chat-line {
    color: lightgray;
}

/* @user_name mentions are light green */
.ffz-clickable-mentions .chat-display .chat-line .user-token, .ffz-clickable-mentions .ffz-recent-messages .chat-line .user-token, .ffz-clickable-mentions .pinned-cheers .chat-line .user-token {
    color: lightgreen !important;
    font-size: 14px;
    font-weight: normal;
}

/* Unbold names and make them red colored */
.ember-chat .chat-messages .chat-line .from, .ember-chat .chat-messages .chat-line .to {
/*     font-size: 18px; */
    font-weight: normal;
    color: red !important;
}

/* Disable chat rules pop-up */
.ember-chat .chat-interface .chat-rules {
    display: none;
}

/* More pop-ups! Stop with all these pop-ups that cover the video! */
.extension-container {
    display:none;
}


/* Non-theater mode global look */
#right_close {
    top: 75px; /* Default: 15px */
    right: 5px;
    height: 80px;
    background-color: red;
    opacity: 1;
    border: 2px solid white;
}
/* Non-theater mode (chat hidden) triangle color */
#right_close.closed:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: transparent solid 6px;
    border-right-width: 6px;
    border-left-width: 0;
    border-right-color: rgb(255, 255, 255);
}
/* Non-theater mode (chat showing) triangle color */
#right_close:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: transparent solid 6px;
    border-left-width: 6px;
    border-right-width: 0;
    border-left-color: rgb(255, 255, 255);
}
/* Theater mode chat toggle button - global look */
.app-main.theatre #main_col:hover #right_close {
    display: block;
    background-color: red;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    opacity: 0.2;
    border: 2px solid white;
}
/* Theater mode chat toggle button - increase opacity on mouse hover */
.app-main.theatre #main_col #right_close:hover {
    display: block;
    background-color: red;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    opacity: 0.7;
    border: 2px solid white;
}


/* Increase size of player buttons */
div[class^="player-buttons-left"], div[class*=" player-buttons-left"] {
    transform: scale(1.5);
    margin-left: 9%;
}
div[class^="player-buttons-right"], div[class*=" player-buttons-right"] {
    transform: scale(1.5);
    margin-right: 11%;
}


/* Hide Upcoming Events panel (Overwatch game directory page) */
.col-xs-9 {
    width: 100%;
}
.tower .col-xs-3 {
    display: none;
}


/* Stroke stream info title in theater mode  */
div[class^="player-streaminfo__title qa-stream-title"], div[class^="player-streaminfo__viewers"] {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
/* Remove stroke on game name */
a[class="player-text-link player-text-link--no-color qa-game-name"] {
    text-shadow: none;
    color: #a68ed2;
}


/* Move VOD seek bar up to compensate for enlarged player controls */
.player-seek {
    display: block;
    margin-bottom: 50px;
}
